<div class="tab-pane" id="tab3">
  <h2>Notification Settings</h2>
  <p>Send Emails (global setting)</p>
  <p>When someone follows my lists</p>
  <p>When someone follows me</p>
  <p>Someone comments on my ideas</p>
  <p>Inspiration newsletter</p>
</div>