Friends and their recent activity....
<h2>Already Friends </h2>
<ul class="thumbnails">
  <% for friendship in current_user.friendships %>
      <li class ="span3">
        <div class="thumbnail">
          <h1>
          <% @assets = Asset.gather_current_user_profile(friendship.friend.id) %>
          <% if @assets.present? %>
              <%= image_tag(@assets.first.asset.url, :size=> "36x36", :class=> 'pull-left img-polaroid') %>
          <% else %>
              <%= image_tag("missing.jpg", :size=> "36x36", :class=> 'pull-left img-polaroid') %>
          <% end %>
          <%=link_to friendship.friend.displayname.titlecase , user_path(:id => friendship.friend.displayname) %></h1>
          (<%= link_to "remove friendship", friendship, :method => :delete %>)
          <ul>
            <li>New Activity</li>
            <li>New Activity</li>
            <li>New Activity</li>
            <li>New Activity</li>
          </ul>
        </div>
      </li>
  <% end %>
</ul>
