<div class="row-fluid">
  <ul class="nav thumbnails"  >
    <li class="span4">Useful Links
        <%= link_to "About Inspire" %>
        <%= link_to "Contact Us" %>

    </li>
    <li class="span4">Link set 2
        <%= link_to "Our Blog", "http://iwantobeinspired.wordpress.com/" %>
    </li>
    <li class="span4">Link set 3
      <%= link_to "Privacy Policy" %>
    </li>
  </ul>
</div>